<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Node GUI</title>
</head>
<body>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">Balance: <span id="balance">0</span></p>
    <h1 class="display-4">Node GUI</h1>
    <p class="lead">Here you can control the Node</p>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active" id="controlbtn">
            <input type="radio" name="options" autocomplete="off" checked> Control Panel
        </label>
        <label class="btn btn-secondary" id="logsbtn">
            <input type="radio" name="options" autocomplete="off"> Logs
        </label>
        <label class="btn btn-secondary" id="databtn">
            <input type="radio" name="options" autocomplete="off"> Data
        </label>
    </div>
</div>
<div class="container">

    <div class="card-deck" style="padding-bottom: 4%" id="control">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Mining</h5>
                <p class="card-text">Make your PC work hard in order to find a POF and mine a block.
                    Get rewarded with 1 coin</p>
                <button class="btn btn-lg btn-block btn-primary mt-auto" id="mine">Mine</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Transactions</h5>
                <p class="card-text">Send money</p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">To:</span>
                    </div>
                    <input type="number" class="form-control" id="to">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Amount:</span>
                    </div>
                    <input type="number" class="form-control" id="amount">
                </div>
                <button class="btn btn-lg btn-block btn-primary mt-auto" id="transaction">Send</button>

            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Resolving</h5>
                <p class="card-text">A node can try to sync its chain with all the other known nodes in the network.
                    This is done with an algorithm that decides which chain will become the main one. In this case it is
                    the longest</p>
                <button class="btn btn-lg btn-block btn-primary mt-auto" id="resolve">Resolve</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Registering</h5>
                <p class="card-text">Register a new node to become known by this node</p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Port:</span>
                    </div>
                    <input type="number" class="form-control" id="port">
                </div>
                <button class="btn btn-lg btn-block btn-primary mt-auto" id="register">Register</button>
            </div>
        </div>
    </div>
    <table class="table" id="data">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">pof</th>
            <th scope="col">constraint</th>
            <th scope="col">timestamp</th>
            <th scope="col">transactions</th>
        </tr>
        </thead>
        <tbody id="chain">
        <tr>
            <th scope="row"></th>
        </tr>
        </tbody>
    </table>
    <p id="logs"></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='ui.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>